------------------------------------------------
Super Agile - at being a part of a startup.

Is it part of the sprint? It's super urgent

Super urgent - rigor

1 week before / coming out of startup phase...

We are actually going to get less agile

------------------------------------------------

Content -> filter optimization

Pulling salesforce reports

Opportunity reports

------------------------------------------------

Cloning salesforce campaigns and sequences

Naming convention

Date stuff

------------------------------------------------

Attention to detail

Setting up free trial nurture stream

------------------------------------------------

SDR - 

Training time SLA's 

We can't live in slack


Hi Team,

We have been working on a new view for rep performance within the marketing funnel for this quarter. This new report measures MQL's assigned to the reps that should be followed up. This excludes Training, Content Syndication and other inbound inquiries that we are no longer passing to the reps. We also have excluded high value MQL's which are followed up on by Tommy. The conversion metric measures against marketing sourced discovery meetings created in quarter. The conversions are color coded against a 10% success metric. 

This should help to identify those reps that are producing discos and converting well against those that may need enablement.

We will be improving and adding more functionality to this report over time but wanted to get it in front of you as soon as possible.

Alex

0 jared

---- funnel stage -------

Free trial data > customer date


